/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {

  :root {
    --accent-color: #ff8dcb;
    --title-accent-color: #ffc2e6;
    --text-color: var(--dark-gray-color);
    --bg-color: var(--light-color);
    --bg-image: url(../images/cover-image-light.png);
    --decorated-zone-border-color: var(--dark-gray-color);
    --content-section-heading-color: var(--dark-gray-color);
    --title-decor-color: var(--dark-gray-color);
    --theme-menu-button-color: var(--dark-gray-color);
    --theme-menu-button-hover-border-color: hsl(48 5% 19% / 0.4);
  }

  .header__rec {
    display: none;
  }
}

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --accent-color: #ff8dcb;
  --title-accent-color: #ffc2e6;
  --text-color: var(--dark-gray-color);
  --bg-color: var(--light-color);
  --bg-image: url(../images/cover-image-light.png);
  --content-section-heading-color: var(--dark-gray-color);
  --decorated-zone-border-color: var(--dark-gray-color);
  --title-decor-color: var(--dark-gray-color);
  --theme-menu-button-color: var(--dark-gray-color);
  --theme-menu-button-hover-border-color: hsl(48 5% 19% / 0.4);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .header__rec {
  display: none;
}
