/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex mono';
  --dark-color: #000028;
  --dark-gray-color: #353430;
  --light-color: #fff1f7;

  --accent-color: #ff0070;
  --title-accent-color: #db00ff;
  --text-color: #f1b2ce;
  --bg-color: var(--dark-color);
  --page-bg-image: url(../images/cover-image-dark.png);
  --decorated-zone-border-color: var(--accent-color);
  --content-section-heading-color: var(--accent-color);
  --title-decor-color: var(--dark-color);
  --theme-menu-button-color: var(--accent-color);
  --theme-menu-button-hover-border-color: hsl(334 100% 50% / 0.4);
}
